<div class="row">
<div class="column">
    <p><strong>Chinese Manufacturing Innovations</strong></p>
    <p>Shanzhai & Makers, urban, industrial and social transformations in today's China including effects on media, technology, policies, with use cases, business environment reporting.</p>
</div>

<div class="column">
    <p><strong>Post-Industrial Urban Third-Spaces</strong></p>
    <p>Co-working, hackerspaces, fablabs, incubators, digital factories, and living labs. How is work done in the post-industrial city?</p>
</div>
<div class="column">
    <p><strong>Bitcoin & Micro-payment Futures</strong></p>
    <p>Bitcoin is controlled by miners in China. What does this mean? How can you participate in this process? What is the worldwide effect?</p>
</div>

</div>
