<div class="row">


    <p><strong>Innovation in Chinese Manufacturing</strong></p>

    <p>Shanzhai, makers, etc. : urban, industrial and social transformations in today's China : media, technology, policies, use cases, business environment...</p>

    <p><strong>Urban Third-Spaces</strong></p>

    <p>Coworkings, hackerspaces, fablabs, incubators, digital factories, living labs... how to work in the post-industrial city ?</p>

    <p><strong>Bitcoin and future of micro-payments</strong></p>

    <p>Bitcoin is controlled by miners in China. What does this mean? How can you participate in this process?</p>


  </div>
